<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="xmu.crms.entity.School" alias="School" />
        <typeAlias type="xmu.crms.entity.User" alias="User" />
        <typeAlias type="xmu.crms.entity.Attendance" alias="Attendance" />
        <typeAlias type="xmu.crms.entity.ClassInfo" alias="ClassInfo" />
        <typeAlias type="xmu.crms.entity.Course" alias="Course" />
        <typeAlias type="xmu.crms.entity.CourseSelection" alias="CourseSelection" />
        <typeAlias type="xmu.crms.entity.Event" alias="Event" />
        <typeAlias type="xmu.crms.entity.FixGroup" alias="FixGroup" />
        <typeAlias type="xmu.crms.entity.FixGroupMember" alias="FixGroupMember" />
        <typeAlias type="xmu.crms.entity.FixGroupTopic" alias="FixGroupTopic" />
        <typeAlias type="xmu.crms.entity.Location" alias="Location" />
        <typeAlias type="xmu.crms.entity.Seminar" alias="Seminar" />
        <typeAlias type="xmu.crms.entity.SeminarGroup" alias="SeminarGroup" />
        <typeAlias type="xmu.crms.entity.SeminarGroupMember" alias="SeminarGroupMember" />
        <typeAlias type="xmu.crms.entity.SeminarGroupTopic" alias="SeminarGroupTopic" />
        <typeAlias type="xmu.crms.entity.StudentScoreGroup" alias="StudentScoreGroup" />
        <typeAlias type="xmu.crms.entity.Topic" alias="Topic" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <!-- ?useUnicode=true&amp;characterEncoding=utf8为了支持中文数据的写入 -->
                <property name="url"
                    value="jdbc:mysql://59.77.7.41:3306/xmu8207?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false" />
                <property name="username" value="xmu8207" />
                <property name="password" value="715482a4" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/SchoolMapper.xml" />
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/AttendanceMapper.xml" />
        <mapper resource="mapper/ClassMapper.xml" />
        <mapper resource="mapper/CommonMapper.xml" />
        <mapper resource="mapper/CourseMapper.xml" />
        <mapper resource="mapper/FixGroupMapper.xml" />
        <mapper resource="mapper/FixGroupMemberMapper.xml" />
        <mapper resource="mapper/FixGroupTopicMapper.xml" />
        <mapper resource="mapper/GradeMapper.xml" />
        <mapper resource="mapper/SeminarGroupMapper.xml" />
        <mapper resource="mapper/SeminarGroupMemberMapper.xml" />
        <mapper resource="mapper/SeminarGroupTopicMapper.xml" />
        <mapper resource="mapper/SeminarMapper.xml" />
        <mapper resource="mapper/TimerMapper.xml" />
        <mapper resource="mapper/TopicMapper.xml" />
    </mappers>
</configuration>