@charset "utf-8";
/* CSS Document */

   html
        {
         height:100%;
         margin:0;
        }
        body
        {
            height:100%;
            margin:0; 
        }
     .top{
        width: 100%;
        height: 16%;
        background-color: rgba(65,199,219,0.7);
        text-align: center;
        margin: 0 auto;
      }
	  .icon{
      	width:20%;
      	font-family: YouYuan;
      	font-size: 20px;
      	text-align: center;
      	color: white;
      	padding-top: 4%;
      	float: right;
      }
	  .returnButton{
      	width: 10%;
      	background-color: #D4EEF2;
      	border: 1px solid #D4EEF2;
      	border-radius: 8px;
      	text-align: center;
      	margin-top: -2%;
      	margin-bottom: 1%;
      	margin-left: 85%;
      	z-index: 100;
      }

      /**
      *这个是指下面的导航和显示信息的块的样式，从整体上来讲，下面是一个大块
      */

      .body{
        width: 100%;
        height: 84%;
        background-color: white;
      }
     .navigation{
        width: 20%;
        height: 100%;
        background-color: rgba(204,204,204,0.6);
        float: left;
      }
      .content{
        width: 80%;
        height: 100%;
        background-color: white;
        float: right;
      }
      .clear{
        clear: both;
      }
     .font{
      	width: 20%;
        font-family: YouYuan;
        font-size: 40px;
        font-weight: bold;
        margin-left: 35%;
        text-align: center;
        padding: 2%;
        float: left;
        color: #FFFFFF;
      }
	   .icon{
      	width:20%;
      	font-family: YouYuan;
      	font-size: 20px;
      	text-align: center;
      	color: white;
      	padding-top: 4%;
      	float: right;
      }
      .courseName{
        width: 20%;
        font-family: consolas;
        font-size: 20px;
        color: #0BACE1;
        margin-left: 5%;
        margin-top: 5%;
      }
      .courseIntroduction{
        width: 90%;
        height: 80%;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        font-family: YouYuan;
        font-size: 18px;
      }
      .title{
        width: 20%;
        font-family: YouYuan;
        font-size: 20px;
        font-weight: bold;
        padding: 1px;
        margin-left: 2%;
        margin-top: 1.2%;
        color: #0BACE1;
      }
      .itemBody{
        width: 96%;
        height: 80%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
      }
      .item{
        width: 80%;
        height: 15%;
        padding-bottom: 1%;
        margin: 0 auto;
      }
      .itemName{
        font-family: YouYuan;
        font-size: 18px;
      }
      .bigInput{
        border: 1px solid black;
        width: 80%;
        height: 80%;
      }
      .smallInput{
        border: 1px solid black;
        width: 15%;
        height: 80%;
      }
      .bigSelect{
        width: 30%;
        height: 80%;
        margin-right: 2%;
        border: 1px solid black;
      }
      .smallSelect{
        width: 15%;
        height: 80%;
        margin-right: 2%;
        border: 1px solid black;
      }
      .textareaStyle{
        width: 80%;
        height: 100px;
      }
      .inputDate{
        width: 30%;
        height: 80%;
        border: 1px solid black;
      }
      .addButton{
        background-color: #D4EEF2;
        width: 10%;
        height: 80%;
        border-radius: 5px;
      }
      .selectFile{
        width: 10%;
        height: 80%;
        background-color: #D4EEF2;
      }
      .bottomButton{
        width: 15%;
        height: 80%;
        margin-left: 20%;
        border-radius: 10px;
        background-color: #D4EEF2;
      }
      .line{
        width: 96%;
        margin: 0 auto;
        border: 1.5px solid #41C7DB;
      }
